body {
  background: linear-gradient(to right, #111, #333);
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding: 40px;
}

.card {
  background: #ffffff;
  max-width: 700px;
  width: 100%;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #111;
}

.subtitle {
  text-align: center;
  color: #777;
  margin-bottom: 20px;
}

h2 {
  margin-top: 25px;
  color: #222;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}
